# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [5]:
import pandas as pd
import numpy as np

# Seu código aqui
ano = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomaliaTermica = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

#### 2) Coloque os anos nos índices conforme a tabela.

In [6]:
# seu código aqui
alteracaoTemperatura = pd.Series(data=anomaliaTermica, index=ano)
alteracaoTemperatura

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [9]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
alteracaoTemperatura = pd.Series(dic_temperaturas)
alteracaoTemperatura

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [41]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
dataFrame = pd.DataFrame(arr)
dataFrame

             0           1           2
0   100.728743   96.119894  105.910065
1    90.768070   93.283351  117.661774
2    95.335876  109.645639  111.483593
3   113.490492   88.650238  108.560360
4    96.368457  103.961644  104.501710
5    89.861740   86.315270  108.420243
6   107.625317  110.631050  107.255185
7    91.543581   92.846012  104.289906
8   101.261809   86.147856   91.723374
9    98.707808  109.298084   99.666401
10  111.135352   91.738986  116.226660
11  103.677934  104.149704  102.327847
12  100.578739  101.202071  100.761439
13  105.505178  104.242165   82.311493
14   97.719389   94.893175   97.560655
15   91.944750  106.826631   82.914607
16  125.214728  107.011496  107.146664
17   97.409071  107.692405  109.548656
18  104.371846  103.957976   94.713122
19   93.347630   92.860791   99.752054

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [42]:
#seu código aqui
dataFrame = pd.DataFrame(arr, index=indexDataFrame, columns=["x1", "x2", "x3"])
dataFrame

            x1          x2          x3
1   100.728743   96.119894  105.910065
2    90.768070   93.283351  117.661774
3    95.335876  109.645639  111.483593
4   113.490492   88.650238  108.560360
5    96.368457  103.961644  104.501710
6    89.861740   86.315270  108.420243
7   107.625317  110.631050  107.255185
8    91.543581   92.846012  104.289906
9   101.261809   86.147856   91.723374
10   98.707808  109.298084   99.666401
11  111.135352   91.738986  116.226660
12  103.677934  104.149704  102.327847
23  100.578739  101.202071  100.761439
14  105.505178  104.242165   82.311493
15   97.719389   94.893175   97.560655
12   91.944750  106.826631   82.914607
17  125.214728  107.011496  107.146664
18   97.409071  107.692405  109.548656
19  104.371846  103.957976   94.713122
20   93.347630   92.860791   99.752054

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [44]:
# seu código aqui
dataFrame['Media'] = (dataFrame['x1'] + dataFrame['x2'] + dataFrame['x3']) / 3
dataFrame

            x1          x2          x3       Media
1   100.728743   96.119894  105.910065  100.919567
2    90.768070   93.283351  117.661774  100.571065
3    95.335876  109.645639  111.483593  105.488369
4   113.490492   88.650238  108.560360  103.567030
5    96.368457  103.961644  104.501710  101.610604
6    89.861740   86.315270  108.420243   94.865751
7   107.625317  110.631050  107.255185  108.503851
8    91.543581   92.846012  104.289906   96.226500
9   101.261809   86.147856   91.723374   93.044346
10   98.707808  109.298084   99.666401  102.557431
11  111.135352   91.738986  116.226660  106.366999
12  103.677934  104.149704  102.327847  103.385162
23  100.578739  101.202071  100.761439  100.847417
14  105.505178  104.242165   82.311493   97.352945
15   97.719389   94.893175   97.560655   96.724406
12   91.944750  106.826631   82.914607   93.895329
17  125.214728  107.011496  107.146664  113.124296
18   97.409071  107.692405  109.548656  104.883377
19  104.371846  103.957976   94.713122  101.014315
20   93.347630   92.860791   99.752054   95.320158

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [9]:
# seu código aqui
#Não entendi o que seria um logaritmo natural.